#reviews{
    margin-top:30px;
}
@media screen and (max-width:992px){
    .reviewLink{
        text-align: center;
    }
}
@media screen and (min-width:992px){
    .reviewLink{
        text-align: end;
    }
}